# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# build
packages/*/dist/
packages/ethereum/bin/

# documentation
documentation/
apps/dapp-stack.org
apps/dapp-stack.org/.cache
apps/dapp-stack.org/public