@import "../../styles/variables.scss";

.functionCard {
  margin-top: $m-spacing;
}

.right {
  float: right;
}

.marginTop {
  margin-top: $m-spacing;
}

.separator {
  margin-right: $m-spacing;
  margin-left: $m-spacing;
}